<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/about/us">About Us</a></li>
                <li><a href="/about/product">About the Product</a></li>
            </ul>
        </nav>
        <p>Welcome to the handlebars application you are on the {{title}}</p>
        <main>
            {{{body}}}
        </main>

        <footer>
            <hr>
            <p>footer</p>
        </footer>
    </body>
</html>
